.containerInc {
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: center;
  margin: 2rem 2rem;
  padding: 0 2rem;
  border-radius: 5px;
  background-color: #ededed;
  box-shadow: 12px 17px 13px -9px rgba(237, 148, 72, 0.43);
  -webkit-box-shadow: 12px 17px 13px -9px rgba(237, 148, 72, 0.43);
  -moz-box-shadow: 12px 17px 13px -9px rgba(237, 148, 72, 0.43);
}

.styleFonts {
  font-family: "Bebas Neue", cursive;
}

.flexFlag {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.fadeIn {
  animation: fadeInUp 1s;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
