.containerAuth{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 2rem;
    padding: 0 2rem;
    border-radius: 5px;
    background-color: #ededed;
    box-shadow: 12px 17px 13px -9px rgba(237,148,72,0.43);
    -webkit-box-shadow: 12px 17px 13px -9px rgba(237,148,72,0.43);
    -moz-box-shadow: 12px 17px 13px -9px rgba(237,148,72,0.43);
}

.styleFontsAuth{
    font-family: 'Bebas Neue', cursive;
}