.fondo{
    background: rgb(2,0,36);
background: linear-gradient(266deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(0,138,255,1) 100%);
    min-height: 400px;
}

.stylesContainer{
    display: flex;
    justify-content: center;
}
